{{ define "main" }}
{{ partial "page-title.html" . }}
<!-- Speaker Detail -->
<section class="speaker-detail">
  <div class="container">
      <div class="row">
          <div class="image-column col-lg-4 col-md-12 col-sm-12">
              <div class="image-box">
                  <figure class="image"><img src="{{ with .Params.images }}{{ index . 0 | relURL }}{{ end }}" alt=""></figure>
                  <div class="d-flex justify-content-center" style="font-size:2em;">
                      {{ with .Params.twitter }}
                      {{ if ne . "" }}
                      <div class="mx-2"><a href="{{ . }}" target="_blank"><i class="fab fa-twitter"></i></a></div>
                      {{ end }}
                      {{ end }} 

                      {{ with .Params.linkedin }}
                      <div class="mx-2"><a href="{{ . }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
                      {{ end }} 

                      {{ with .Params.github }}
                      {{ if ne . "" }}
                      <div class="mx-2"><a href="{{ . }}" target="_blank"><i class="fab fa-github"></span></a></div>
                      {{ end }}
                      {{ end }}
                  </div>
              </div>
          </div>

          <div class="info-column col-lg-8 col-md-12 col-sm-12">
              <div class="inner-column">
                  <div class="text-box">
                      <h3>{{ .Title }}</h3>
                      {{ with .Params.designation }}<h5>{{.}}</h5>{{ end }}
                      <p>{{ .Content }}</p>
                      <h4>Sesiones por {{ .Title }}</h4>

                      <!-- Sessions speaker -->
                      <ul>
                      {{ range (.Data.Pages.ByParam "time_start").Reverse }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a>{{ with .Params.time_start | time }} ({{ .Format "2006" }}){{ end }}</li>
                      {{ end }}
                      </ul>
                      <!-- Sessions speaker end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Speker Detail -->

{{ end }}