.section.banner {
  margin-top: 90px;
  background: #080D10;
  //background: linear-gradient(90deg, rgba(45,144,181,1) 2%, rgba(167,9,15,1) 47%, rgba(140,159,0,1) 100%);
  background-image: url(/dataday/images/bg-2025.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 0px;
  height: 100vh;
  padding-top: 28vh;
  text-align: center;
  color: white;
  text-shadow: #202020 2px 2px 2px;

  @media (max-width:550px) {

    .hero-title {
      width: 300px;
      margin-top: 10px;
      font-size: 46px;
    }
  }

  p {
    font-size: 1.8em;
    margin: 1.2em auto;
  }

  @media (max-height:720px) {
    height: 720px;
  }

  .scroll-link {
    margin-top: 30px;
  }

  .scroll-link img {
    height: 30px;
  }


  .btn-banner2 {
    background-color: #f02040;
    color: $white;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 15px 15px 15px 15px;

    &:hover {
      background-color: #ff6060;
    }
  }

  .btn-banner1 {
    background-color: #01a860;
    color: $white;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 15px 15px 15px 15px;

    &:hover {
      background-color: #00a530;
      color: $white;
    }
  }
}


.hero-info {
  color: #ffffff !important;
  font-family: $heading-font;
  text-align: center;

  margin: 0 auto;
  margin-top: -75px;

	@include tablet {
    margin-top: -70px;
	}
	@include mobile {
		margin-top: -45px;
    width: 100%;
	}

}

.hero-info h2 {
  font-weight: 300;
  font-size: 55px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 36px;
  }

}

.hero-info h1 {
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 54px;
  }
}

.hero-info h3 {
  font-weight: 600;
  font-size: 28px;
  

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.logo-hero {

  width: 600px;
  
  @media (max-width: 825px) {
    width: 450px;
  }

  @media (max-width: 385px) {
    width: 390px;
  }
}

.info-dataday{
  margin-top: -60px;

  @media (max-width: 990px) {
    margin-top: -20px;
  }

  @media (max-width: 750px) {
    margin-top: 0px;
  }


}

.dataday-place{
  font-weight: 900;
  margin-top: -20px;
  font-size: 1.3em;
  text-align: right;
  padding-right: 50px;

  @media (max-width: 995px) {
    font-size: 1em;
  }


  @media (max-width: 685px) {
    margin-top: 10px;
    font-size: .8em;
    text-align: center;
    padding-right: 0px;
  }
}

.box-place{
  margin-top: -20px;
  border-radius: 20px 0 0 20px; 
  padding: 10px 0 10px 0px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  text-align: right;
  padding-right: 50px;

  @media (max-width: 685px) {
  text-align: center;
  padding-right: 0px;
  border-radius: 20px; 
  margin: 15px;
  margin-top: 0px;
  }
}