.section.banner {
  margin-top: 90px;
  //background: rgb(45,144,181);
  //background: linear-gradient(90deg, rgba(45,144,181,1) 2%, rgba(167,9,15,1) 47%, rgba(140,159,0,1) 100%);
  background-image: url(/dataday/images/ddmx23-background.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 0px;
  height: 100vh;
  padding-top: 28vh;
  text-align: center;
  color: white;
  text-shadow: #202020 2px 2px 2px;

  @media (max-width:550px) {

    .hero-title {
      width: 300px;
      margin-top: 10px;
      font-size: 46px;
    }
  }

  p {
    font-size: 1.8em;
    margin: 1.2em auto;
  }

  @media (max-height:720px) {
    height: 720px;
  }

  .scroll-link {
    margin-top: 30px;
  }

  .scroll-link img {
    height: 30px;
  }


  .btn-banner2 {
    background-color: #f02040;
    color: $white;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 15px 15px 15px 15px;

    &:hover {
      background-color: #ff6060;
    }
  }

  .btn-banner1 {
    background-color: #01a860;
    color: $white;
    font-weight: 600;
    letter-spacing: .1em;
    border-radius: 15px 15px 15px 15px;

    &:hover {
      background-color: #00a530;
      color: $white;
    }
  }
}

.hero-info {
  color: #ffffff !important;
  font-family: $heading-font;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: -45px;

	@include tablet {
    margin-top: -70px;
	}
	@include mobile {
		margin-top: 0px;
    width: 100%;
	}

}

.hero-info h2 {
  font-weight: 300;
  font-size: 55px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 36px;
  }

}

.hero-info h1 {
  font-weight: 800;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 54px;
  }
}

.hero-info h3 {
  font-weight: 600;
  font-size: 28px;
  

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.hero-info h4 {
  font-weight: 400;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}