.bg-black {
	background: #000;
}

.letter-spacing {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text-sm {
	font-size: 14px;
}

.bg-gray {
	background: #eee;
}

.sponsors h3 {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

.sponsor-strip {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
} 

.sponsor-strip.platinum {

    .sponsor-item {
	    width: 28%;
    	padding: 0 1em;

 	    @include tablet {
		    width: 50%;
    	}

	    @include mobile {
		    width: 80%;
    	}
    }
}

.sponsor-strip.gold {

    .sponsor-item {
	    width: 30%;
    	padding: 0 1.7em;

 	    @include tablet {
		    width: 72%;
    	}

	    @include mobile {
		    width: 90%;
    	}
    }
}

.sponsor-strip.silver {

    .sponsor-item {
	    width: 18%;
    	padding: 0 .1em;

 	    @include tablet {
		    width: 24%;
    	}

	    @include mobile {
		    width: 32%;
    	}
    }
}

.sponsor-strip.community { 

    .sponsor-item {
	    width: 28%;
    	padding: 0 1.4em;

 	    @include tablet {
		    width: 65%;
    	}

	    @include mobile {
		    width: 65%;
    	}
    }
}



.sponsor-strip.partner {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 50px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;

	@include tablet {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 40px;
	}

	@include mobile {
		grid-template-columns: 1fr 1fr;
	}

}