
.tracks h1{
    text-align: center;
}

.card-tracks{
    border-radius: 20px 20px 20px 20px;
  }

  .card-body{
    text-align: center;
  }

  .card-title-tracks{
    color: white;
    text-shadow: #202020 2px 2px 2px;
    padding: 10px 0px 20px;
  }

  .card-text-tracks{
    color: white;
    text-shadow: #202020 2px 2px 2px;
  }

  .tracks h1{
    font-size: 4.1em;
}

  .card-body p{
    font-size: 1.2em;
}