@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap');


// Bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


@font-face {
  font-family: "Monument";
  src: url("../webfonts/MonumentExtended-Ultrabold.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  color: $black-lighter;
}

a {
  transition: .3s all;
  &:hover{
    color: $primary-color;
  }
}

a,
a:hover,
button,
button:focus {
  transition: all .3s;
  text-decoration: none;
  outline: 0;
}

bold {
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 300;
  letter-spacing: 0.1em;
}


h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
  color: inherit;
}

h1, .h1 {
  font-size: 30px;
  font-family: $heading-font;
  
}

h2, .h2 {
  font-size: 28px;
  font-family: $heading-font;
}


h3, .h3 {
  font-size: 26px;
  font-family: $heading-font;
}

h4, .h4 {
  font-size: 22px;
}


h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
  
}

.lead{
  line-height: 35px;
}


.text-secondary{
  color: $secondary-color!important;
}
.text-primary{
  color: $primary-color!important;
}

.subtitle{
  font-family: $base-font;
  text-transform: capitalize;
}

.lg-title{
  font-size:62px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

article h2, article h3 {
  margin-top: 1em;
}

