
//fonts

$base-font                : Poppins, Helvetica, Arial, sans-serif;
$heading-font             : Monument, Helvetica, Arial, sans-serif;
$base-font-size           : 18px;


// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white                    : #ffffff;
$black                    : #303030;
$black-lighter            : #444444;
$gray                    : #a4a4a4;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color: #f72b0a;
$secondary-color: #303030;
$orange:#f72b0a;
$yellow:#ffd200;
$yellow2: #ff4020;
$red: #F5070F;


$blue: #34307D;
$blue-menu: #90CEE7;


$color1: #ed1b35;
$color2: #fee000;
$color3: #32c5f0;
$color4: #ec5025;
$green: #00a662;