{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- About Data Day -->


  <div class="container mt-4 mb-4">
    <br>
      <div class="row">
        
          <div class="col-md-4">
              <img src="../images/participar-dd.png" class="img-fluid carousel-img">
          </div>
          <div class="col-md-8 text-left">
              <p>Data Day es la conferencia líder para profesionales de datos en América Latina que destaca por integrar en un mismo espacio a líderes de organizaciones dirigidas por datos, científicos de datos e ingenieros de datos, proveyendo a cada uno contenido de vanguardia desde un punto de vista objetivo y neutral.</p>
                
              <p>Data Day México se ha realizado exitosamente desde 2015. Las ediciones de 2020 a 2022 se realizaron de forma virtual, y desde 2023 volvimos en persona.</p>

          </div>
      </div>
      <br>
  </div>


  <div class="container">
    <h1 class="text-uppercase carousel-text text-center">¿Cómo lo hacemos?</h1>

    <div class="row row-cols-1 row-cols-md-3 mt-4">
      <div class="col mb-4">
        <div class="card-tracks h-100" style="border-style: solid; border-color: #34307D; ">
          <div class="card-body">
            <p>Compartiendo contenido de vanguardia desde un punto de vista objetivo y neutral para que los participantes puedan obtener planes de acción valiosos para sus organizaciones</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="border-style: solid; border-color: #34307D; ">
          <div class="card-body">
            <p>Buscando información actualizada y de fuentes de primera mano para mantenerles a la vanguardia.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="border-style: solid; border-color: #34307D; ">
          <div class="card-body" >
            <p>Procurando la calidad y nivel técnico del evento, dando a conocer ejemplos reales y concretos de ciencia de datos, el impacto que han tenido, así como conocer sus ventajas y costos.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- /About Data Day -->

{{ end }}

