{{ define "main" }}

{{ $data := index .Site.Data }}

<!-- hero -->
{{ if $data.homepage.banner.enable }}
{{ partial "hero.html" . }}
{{ end }}
<!-- /hero -->


<!-- What is Data Day  -->

{{ partial "what_is.html" . }}

 <!--/What is Data Day -->


<!-- Why participate -->

{{ partial "why_participate.html" . }}

<!-- /Why participate -->


<!-- cta_cfp  -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /cta_cfp -->

<br><br>

<h2 class="text-center">¿Cómo llegar?</h2>
<br>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">

    <div class="col mb-4">
      <div class="card h-100 border-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d940.8467294752099!2d-99.1746561!3d19.3956815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce013fa8989a07%3A0x62791b31b80a1cb0!2sBelAir%20Unique%20Mexico%20City%20WTC%2C%20Trademark%20by%20Wyndham!5e0!3m2!1sen!2smx!4v1682010196150!5m2!1sen!2smx" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100 border-0">
        <img src="https://cf.bstatic.com/xdata/images/hotel/max500/404986859.jpg?k=cf9223cfc566a4f20a938cb54b002f44f0e4fa7a3c9b96af6a2011ea8aa9f148&o=&hp=1" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">El evento se realizará en el <a href="https://www.wyndhamhotels.com/trademark/mexico-city-mexico/bel-air-unique-mexico-city-wtc-trademark/overview">Hotel Bel Air Unique CDMX WTC</a> ubicado en Dakota 95 en la Colonia Nápoles. Anteriormente ya hemos realizado Data Day en esta misma sede, solo que antes se llamaba Crowne Plaza. </p>
        </div>
      </div>
    </div>
  
  </div>
</div>


<br>

<!-- Tracks -->

{{ partial "tracks.html" . }}

<!-- /Tracks -->

<br>

<!-- Testimonial css references on "_participate.scss"-->

{{ partial "testimonial.html" . }}

<!-- /Testimonial -->


<!-- event_info  -->
{{ if $data.homepage.event_info.disable }}
{{ partial "event_info.html" . }}
{{ end }}
<!-- /event_info -->


<!-- sponsor -->
{{ if $data.homepage.sponsors.enable }}
{{ partial "sponsor.html" . }}
{{ end }}
<!-- /sponsor -->

<!-- blog -->
{{ if $data.homepage.datalive.disable }}
{{ partial "noticias.html" . }}
{{ end }}
<!-- /blog -->

<!-- schedule -->
{{ if $data.homepage.schedule.enable }}
{{ partial "schedule.html" . }}
{{ end }}
<!-- /schedule -->

<!-- pricing -->
{{ if $data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!-- /pricing  -->

<!-- speaker -->
{{ if $data.homepage.speakers.enable }}
<section class="section speakers">
  <div class="container">
    {{ with $data.homepage.speakers }}
    {{ partial "section_title.html" . }}
    {{ end }}
    <div class="speakers-wrapper">
      {{ range (where (where .Site.RegularPages "Type" "speakers") ".Params.featured" true) }}
      <div class="speaker">
        <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}" class="img-fluid rounded-circle">
        <h4 class="mb-0 mt-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Params.Designation }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /speaker -->





{{ end }}