{{ define "main" }}


<div style="text-align: center;">

    <div id="eventbrite-widget-container-482489457957"></div>

    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    
    <script type="text/javascript">
        var exampleCallback = function() {
            console.log('Order complete!');
        };
    
        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '482489457957',
            iframeContainerId: 'eventbrite-widget-container-482489457957',
    
        });
    </script>

</div>

    {{ .Content }}

{{ end }}