<footer class="section footer" style="background-color: rgba(0, 0, 0, 0.911);">
	
	<div class="container">
		<div class="footer-strip" >
			<div>
				<div>
					<h3 class="mb-3" style="color: white;">{{ .Site.Title | markdownify }}</h3>
	
					<ul class="list-inline footer-socials" >
						{{ range .Site.Params.social }}
						<li class="list-inline-item" ><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}" style="color: white;"></i></a></li>
						{{ end }}
					</ul>
				</div>	
				<ul class="list-inline" >
					<a style="color: white;">Data Day(s) es otro fantástico evento de <a href="http://sg.com.mx">Software Guru</a>
				</ul>

			</div>
			<div>
				<h5 style="color: white;">Conoce más</h5>
				<ul class="footer_links">
					<li ><a href="/dataday/about-us/" style="color: white;">Acerca de</a></li>
					<li ><a href="/dataday/mediakit/" style="color: white;">Media Kit</a></li>
					<li ><a href="/dataday/team/" style="color: white;">Organizadores</a></li>
					<li ><a href="/dataday/files/DDMTY25-Prospectus.pdf" target="_blank" style="color: white;">Guía de patrocinios (Prospectus)</a></li>					
					<li ><a href="https://www.flickr.com/photos/softwareguru/albums/with/72157655172922190" target="_blank" style="color: white;">Galería de ediciones anteriores</a></li>
					<li ><a href="mailto:dataday@sg.com.mx" style="color: white;">Contacto</a></li>
				</ul>
			</div>
			<div> 
				<h5 style="color: white;">Ediciones anteriores</h5>
				<ul class="footer_links">
					<li ><a href="/dataday/sessions/2024mty/" style="color: white;">Data Day Monterrey 2024</a></li>
					<li ><a href="/dataday/sessions/2023mty/" style="color: white;">Data Day Monterrey 2023</a></li>
					<li ><a href="/dataday/sessions/2023mx/" style="color: white;">Data Day CDMX 2023</a></li>
					<li ><a href="/dataday/sessions/2022mty/" style="color: white;">Data Day Monterrey 2022</a></li>
					<li ><a href="/dataday/sessions/2022/" style="color: white;">Data Day(s) Virtual 2022</a></li>
					<li ><a href="/dataday/sessions/2021/" style="color: white;">Data Day(s) Virtual 2021</a></li>
					<li><a href="/dataday/sessions/2020/" style="color: white;">Data Day(s) Virtual 2020</li></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

