<footer class="footer-wrapper">
	<div class="copyright-wrapper">
		<div class="copyright-container container">
			<div class="copyright-left">
				Data Day es otro fantástico evento de <a href="http://sg.com.mx">Software Guru</a>. </div>
			<div class="copyright-right">
				<a href="/datadays/about-us/">Acerca de</a> | <a
					href="/datadays/patrocinadores-y-expositores/">Patrocinadores y Expositores</a> | <a
					href="mailto:eventos@sg.com.mx">Contacto</a>
			</div>
		</div>
	</div>
</footer>