<section class="page-header" style="background-color:rgb(0, 0, 0); padding-top: 98px; margin-top: 50PX; background-image: url('{{ .Params.Bg_image | relURL }}'), url('{{`images/fondo4mediakit.png` | relURL }}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="content text-center">            
            <h1 class="mb-3 text-uppercase title-style">{{ .Title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>