
<section class="section-previous-events">
  <br>
    <div class="">
      <h1 class="text-center carousel-text-testimonial container text-uppercase mx-auto d-block mt-4" >Agendas anteriores</h1>
      <div class="row" style="padding: 40px;">
        {{ range (where .Site.Pages "Section" "sessions")}}
        {{ if in .Params.previous_events "true" }}
        <div class="col-12 col-md-3 px-3 mb-3" >
    
          <div class="card h-100 shadow p-3 mb-6 border-card">
            <a href="{{ .Permalink }}"> 
              <img src="{{ .Params.image }}" alt="{{ .Title | markdownify }}" class="img-fluid" style="cursor: pointer">
              
              <h3 class="text-center mt-3">{{.Title}}</h3>
                   
            </a>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    </section>
    
    