<!-- Testimonial css references on "_participate.scss"-->

<div class="row row-cols-1 row-cols-md-2 testimonial-section">

    <div>
      <h1 class="testimonial-title">Lo que los "dateros" opinan de Data Day</h1>
    </div>
    
    <div>
      <div class="card mb-3 card-testimonial" style="
        background-color: #32c5f0;">
        <div class="row no-gutters">
          <div class="col-md-4" style="padding: 20px;">
            <img src="/dataday/images/speakers/ivan-ramirez.jpg" class="card-img rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text testimonial">"Es una muy buena oportunidad para saber lo que hacen otras empresas, qué tecnologías están usando y obtener aprendizajes."</p>
              <h3 class="card-name">Iván Ramírez</h3>
              <h5 class="card-name">Jefe de Ingeniería de Datos</h5>
              <h5 class="card-name">@ Arca Continental</h5>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3 card-testimonial" style="
        max-width: 840px; 
        border-radius: 15px 15px 15px 15px;
        background-color: #ed1b35;">
        <div class="row no-gutters">
          <div class="col-md-4" style="padding: 20px;">
            <img src="/dataday/images/speakers/liliana-arguello.jpg" class="card-img rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text testimonial">"Data Days ha sido uno de los mejores eventos virtuales de Data Science que he asistido, ponentes con excelente calidad y talleres extraordinarios que pude aprovechar al 100%."</p>
              <h3 class="card-name">Liliana Argüello</h3>
              <h5 class="card-name">Lead Data Scientist</h5>
              <h5 class="card-name">@ Baker Hughes</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    
    <!-- /Testimonial -->