<!-- Testimonial css references on "_participate.scss"-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Swiper -->
  <div class="swiper mySwiper section-testimonial">

    <div class="mt-2">
      <br>
      <h1 class="text-center carousel-text-testimonial container text-uppercase mx-auto d-block" >Lo que los profesionales de datos opinan de Data Day</h1>
      <br><br>
    </div>
    
    <div class="swiper-wrapper" > 

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">"Participar en Data Day fue un punto de inflexión para mí carrera. Más allá de compartir mi trabajo, fue un espacio donde encontré una comunidad apasionada, generosa con su conocimiento y siempre abierta al diálogo. 10 años después, los insights y conexiones de Data Day siguen resonando."</p>
          <br>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12 headshot-box" style="padding: -15px;">
              <img src="/dataday/images/testimonial/aldo.png" class="card-img rounded-circle">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">Aldo Valadez</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">"Data Day me ha dado mucho más que escenarios: me ha dado amigos, colegas y aprendizajes que aplico todos los días. Es de esos eventos donde sales con más ideas que tarjetas de presentación."</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12 mt-4" style="padding: 20px;">
              <img src="/dataday/images/testimonial/arturo.png" class="card-img rounded-circle mt-4">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">Arturo Cárdenas</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">“Data Day representó para mí la oportunidad de confirmar mi lugar en el mundo de la Ciencia de Datos gracias a los tracks distintivos en que agrupan las presentaciones. Gracias al track de Estrategia he podido comprobar la importancia de privilegiar la solución de problemas antes que las herramientas de análisis y la programación.”</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12" style="padding: 20px;">
              <img src="/dataday/images/testimonial/jose-ignacio.png" class="card-img rounded-circle">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">José Ignacio Dominguez</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">“Fue muy inspirador ver cómo las ideas de los colegas cobran vida en aplicaciones reales. Además, tuve la oportunidad de presentar un proyecto de análisis de datos para abordar temas sociales, con el objetivo de impulsar una mejor planeación de políticas públicas. Un día lleno de aprendizaje, intercambio y motivación.”</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12" style="padding: 20px;">
              <img src="/dataday/images/testimonial/gabriela.png" class="card-img rounded-circle">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">Gabriela Otero</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">“Data Day es un evento de trascendencia internacional. Este evento no solo me permitió exponer mi tema de investigación sustentado en datos, sino que también fue un espacio que propició el encuentro con colegas para establecer colaboraciones. Sigan avanzando equipo de Data Day.”</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12" style="padding: 20px;">
              <img src="/dataday/images/testimonial/jorge-arturo.png" class="card-img rounded-circle">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">Jorge Arturo Hernández Almazán</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 swiper-slide shadow card-testimoniales">
        <div class="card-item-testimonial">
          <p class="titulo-testimoniales">“El Data Day me permitió conocer a una comunidad de Profesionales en el área de la Ciencia de Datos. La gran cantidad de temáticas y metodologías aplicadas es tan diversa que permite enriquecer el conocimiento mediante charlas, talleres y ponencias con un estricto sentido científico y al mismo tiempo aplicado para la solución de problemáticas de tipo social, económico, ambiental y de salud.”</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="col-md-12" style="padding: -10px;">
              <img src="/dataday/images/testimonial/leo.png" class="card-img rounded-circle">
            </div>
          </div>
          <div class="col col-testimonial"> 
            <div>
              <h3 class="nombre-testimonial">Leonardo Alfonso Ramos Corona</h3>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <br><br>

  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10, 
        autoplay: true,
          autoplaySpeed: 10500,
          pauseOnHover: false,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
  
        breakpoints: {
          640: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 2,
            spaceBetween: 40,
          },
          1055: {
            slidesPerView: 2,
            spaceBetween: 45,
          },
          1480: {
            slidesPerView: 3,
            spaceBetween: 45,
          },
        },
      });
    </script>


    
    <!-- /Testimonial -->