<!-- Testimonial css references on "_participate.scss"-->

<div class="row row-cols-1 row-cols-md-2 testimonial-section">

    <div>
      <h1 class="testimonial-title">Lo que los "dateros" opinan de Data Day</h1>
    </div>
    
    <div>
      <div class="card mb-3 card-testimonial" style="
        background-color: #32c5f0;">
        <div class="row no-gutters">
          <div class="col-md-4" style="padding: 20px;">
            <img src="/dataday/images/speakers/jose-ignacio.png" class="card-img rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text testimonial">"Lo mejor que me ha tocado vivir es el aprendizaje logrado a lo largo del día. Los casos de estudio me han servido de inspiración para mis propios proyectos."</p>
              <h3 class="card-name">Jose Ignacio Dominguez</h3>
              <h5 class="card-name">Consulting Partner</h5>
              <h5 class="card-name">@ DATA Sense</h5>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card mb-3 card-testimonial" style="
        max-width: 840px; 
        border-radius: 15px 15px 15px 15px;
        background-color: #ed1b35;">
        <div class="row no-gutters">
          <div class="col-md-4" style="padding: 20px;">
            <img src="/dataday/images/speakers/carlos-alfonso-ruiz-guido.jpg" class="card-img rounded-circle" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text testimonial">"Data Day ha sido un parteaguas en nuestra manera de preparar el material de nuestros cursos. La comunidad del Data Day es, sin lugar a dudas, una de las más exigentes y al mismo tiempo entusiastas por aprender más."</p>
              <h3 class="card-name">Alfonso Ruiz Guido</h3>
              <h5 class="card-name">Fundador y director</h5>
              <h5 class="card-name">@ Colegio Matemáticas Bourbaki</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    
    <!-- /Testimonial -->