<!-- Tracks -->

<section class="section-tracks">


<div class="container tracks">
<br><br>
    <h2>TRACKS</h2>
    <br>
    
    
  <img src="/dataday/images/DD2025-Industrias.png" class="img-fluid mx-auto d-block">

    <!--<div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: transparent; box-shadow: 0 0 20px #32C5F0;">
          <div class="card-body">
            <h3 class="card-title-tracks">Casos de estudio de organizaciones dirigidas por datos</h3>
            <p class="card-text-tracks">La experiencia y retos que han vivido empresas locales (ya sea de Nuevo León o de la República Mexicana) al implementar iniciativas de analítica predictiva y/o ingeniería de datos a gran escala.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: transparent; box-shadow: 0 0 20px#ED1B35;">
          <div class="card-body">
            <h3 class="card-title-tracks">Hard core machine intelligence</h3>
            <p class="card-text-tracks">Lecciones para construir modelos efectivos de machine learning e inteligencia artificial.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: transparent; box-shadow: 0 0 20px #00a662;">
          <div class="card-body" >
            <h3 class="card-title-tracks">Data engineering & MLOps</h3>
            <p class="card-text-tracks">Herramientas y técnicas para gestionar datos que habilitan sistemas ML.</p>
          </div>
        </div>
      </div>
    </div>-->

  </div>
<br><br>
</section>
<!-- /Tracks -->