<!-- Tracks -->

<div class="container tracks">

    <h2>Tracks 2023</h2>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card-tracks h-100 shadow" style="background-color: #32c5f0;">
          <div class="card-body">
            <h3 class="card-title-tracks">Manufactura</h3>
            <p class="card-text-tracks">Nuevo León es el corazón industrial de México, y pionero en la aplicación de ciencia de datos e inteligencia artificial en este sector. <br><br>
            Revisaremos casos de estudio sobre visión computacional y analítica predictiva en líneas de manufactura.
            </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100 shadow" style="background-color: #ed1b35;">
          <div class="card-body">
            <h3 class="card-title-tracks">Logística y Consumer Packaged Goods</h3>
            <p class="card-text-tracks">Otra área donde Nuevo León es líder no solo a nivel nacional sino regional.
              <br><br>
              Compartiremos casos de cómo empresas líderes en este segmento, como Arca Continental aplican ciencia de datos
              para mejorar sus resultados de negocio.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100 shadow" style="background-color: #00a662;">
          <div class="card-body" >
            <h3 class="card-title-tracks">Health Tech</h3>
            <p class="card-text-tracks">El área de servicios y tecnología para la salud tiene un gran potencial de disrupción basada en datos.
              <br><br>
            En este track compartiremos charlas y experiencias sobre cómo las organizaciones están revolucionando este sector por medio de ciencia de datos e inteligencia artificial.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- /Tracks -->