<!-- Tracks -->

<div class="container tracks">

    <h1>Tracks 2023</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: #32c5f0;">
          <div class="card-body">
            <h2 class="card-title-tracks">Sport Analytics</h2>
            <p class="card-text-tracks">La ciencia de datos ya tiene tiempo trayendo mejoras en béisbol y básquetbol en otros países.
              <br><br>
              Data Day es el PRIMER evento de ciencia de datos en México que te trae la intersección entre deportes y data.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: #ed1b35;">
          <div class="card-body" >
            <h2 class="card-title-tracks">Public Policy</h2>
            <p class="card-text-tracks">Una muestra de todos los esfuerzos que dependencias gubernamentales y ONGs de todo México están realizando desde la ciencia de datos para mejorar decisiones que nos afectan a todos.
              <br><br>
            Este track cumple 6 años de aprendizajes para el beneficio la ciudadanía.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card-tracks h-100" style="background-color: #fee000;">
          <div class="card-body">
            <h2 class="card-title-tracks">Fintech</h2>
            <p class="card-text-tracks">La ciencia de datos juega un papel crucial en esta
              industria.
              <br><br>
              Data Day trae las sinergias entre ingenieros de datos,
              científicos de datos y tomadores de decisiones quienes compartirán lo que ha
              funcionado y las lecciones aprendidas.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- /Tracks -->