<!-- What is Data Day  -->

<div class="what-is-section">

    <div class="what-is-dataday">
      <h2>¿Qué es <br> Data Day?</h2>
      <br>
      <div class="line-title-white"></div>
      <br><br>
      <h4>Data Day es la principal conferencia para profesionales de datos en América Latina. Presenta ejemplos reales y concretos de ciencia de datos para que los participantes obtengan valiosos planes de acción que pueden aplicar en su organización.
      </h4>
        <br>
      <h4>Data Day se ha realizado exitosamente desde 2015 tanto en formato presencial como en online.
      </h4>
    </div>
  </div>
  
   <!--/What is Data Day -->