<!-- Why participate -->


<div class="participate-img">
    <img src="/dataday/images/img-participantes.jpg" class="img-fluid rounded-circle img-participate">
  </div>

  <div class="participate-about">

    <h2>¿Por qué participar?</h2>
    <br>
    <h4>Si tu rol es líder de datos, científico de datos o ingeniero de datos, Data Day es el evento donde podrás informarte 
    y actualizarte con contenido de vanguardia desde un punto de vista objetivo y neutral.</h4>
    <br>
    <h4>Mediante charlas, talleres y hands-on labs aprenderás sobre:</h4>
    <h4><li>Casos de estrategia de datos para líderes y CDOs,</li></h4>
    <h4><li>Técnicas efectivas de Machine Learning e Inteligencia Artificial para
      Científicos y Analistas de Datos,</li></h4>
    <h4><li>Herramientas para construir y gestionar pipelines de datos complejos
      para Ingenieros de Datos.</li></h4>
    
  </div>


<!-- /Why participate -->